<div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://github.com/PierreGirbau"><i class="fab fa-github"></i></a>
    <a target="_blank" href="https://www.instagram.com/pierrerepie/"><i class="fab fa-instagram"></i></a>
    <a target="_blank" href="https://www.facebook.com/pierre.repie.1"><i class="fab fa-facebook"></i></a>
    <a target="_blank" href="https://twitter.com/pierre_repie"><i class="fab fa-twitter"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/pierregirbau/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Mister Cocktail © with <i class="fa fa-heart"></i>
  </div>
</div>
